.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG p {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG p em {
  background: yellow;
  padding: 5px;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG .axis text {
  font: 10px sans-serif;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG .axis path,
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG .axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG svg {
  height: inherit;
  width: 100%;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG .container {
  height: 500px;
  width: inherit;
  border: 2px solid green;
  overflow-x: scroll;
  background: red;
  padding: 10px;
}
.visual-PBI_CV_DB82D0E6_E5C1_4E34_884B_CAD22AFB245B_DEBUG .slider {
  height: 300px;
  width: 2000px;
  margin-bottom: 10px;
  border: 2px solid blue;
  background: black;
}
